.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
cms/db.sqlite3
cms/__pycache__/
cms/**/__pycache__/
cms/.venv/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
