DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DATABASE_URL=sqlite:///db.sqlite3

GITHUB_TOKEN=ghp_xxx
GITHUB_OWNER=hyswt
GITHUB_REPO=myblog-source
GITHUB_BRANCH=main
GIT_COMMITTER_NAME=cms-bot
GIT_COMMITTER_EMAIL=cms-bot@example.com

CMS_ADMIN_USERNAME=admin
CMS_ADMIN_EMAIL=admin@example.com
CMS_ADMIN_PASSWORD=change-this-password
